# This is Git's per-user configuration file.
[user]
	name = Danny Colin
	email = contact@dannycolin.com

[color]
	ui = true

[init]
	defaultBranch = main
[cinnabar]
	helper = /home/sdk/.mozbuild/git-cinnabar/git-cinnabar-helper
	version-check = 1639616875
