!--------------------!
! .Xresources config !
!--------------------!

*.faceName: Monospace
*.faceSize: 11
*.vt100*geometry: 80x60
*.saveLines: 16384
*.loginShell: true
*.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
*.termName: xterm-256color
*.eightBitInput: false
*.VT100.allowWindowOps: true
*.VT100.allowTitleOps: true
*.VT100.allowFontOps: true
*.VT100.selectToClipboard: true
*.VT100*translations: #override \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:        select-end(CLIPBOARD)
    <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

#define _color0        #282c34
#define _color8        #282c34
!RED Tag
#define _color1        #be5046
#define _color9        #e06c75
!GRN SpecialKey
#define _color2        #98c379
#define _color10       #98c379
!YEL Keyword
#define _color3        #d19a66
#define _color11       #e5c07b
!BLU Number
#define _color4        #61afef
#define _color12       #61afef
!MAG Precondit
#define _color5        #c678dd
#define _color13       #c678dd
!CYN Float
#define _color6        #56b6c2
#define _color14       #56b6c2
!WHT Search
#define _color7        #abb2bf
#define _color15       #abb2bf
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #61afef
#define _colorUL       #98c379
#define _colorIT       #e06c75
!TXT Normal, Normal, Cursor
#define _foreground    #abb2bf
#define _background    #282c34
#define _cursorColor   #abb2bf

*.color0         : _color0
*.color1         : _color1
*.color2         : _color2
*.color3         : _color3
*.color4         : _color4
*.color5         : _color5
*.color6         : _color6
*.color7         : _color7
*.color8         : _color8
*.color9         : _color9
*.color10        : _color10
*.color11        : _color11
*.color12        : _color12
*.color13        : _color13
*.color14        : _color14
*.color15        : _color15
*.colorBD        : _colorBD
*.colorIT        : _colorIT
*.colorUL        : _colorUL
*.foreground     : _foreground
*.background     : _background
*.cursorColor    : _cursorColor
