! (U)XTerm Configuration
UXTerm*faceName: Monospace
UXTerm*faceSize: 11
UXTerm*vt100*geometry: 80x60
UXTerm*saveLines: 16384
UXTerm*loginShell: true
UXTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
UXTerm*termName: xterm-256color
UXTerm*eightBitInput: false
UXTerm*VT100.allowWindowOps: true
UXTerm*VT100.allowTitleOps: true
UXTerm*VT100.allowFontOps: true
UXTerm.VT100.selectToClipboard: true
UXTerm*VT100*translations: #override \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:        select-end(CLIPBOARD)

XTerm*faceName: Monospace
XTerm*faceSize: 11
XTerm*vt100*geometry: 80x60
XTerm*saveLines: 16384
XTerm*loginShell: true
XTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm*termName: xterm-256color
XTerm*eightBitInput: false
XTerm*allowTitleOps: true
XTerm.vt100.selectToClipboard: true
XTerm*VT100*translations: #override \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:        select-end(CLIPBOARD)

vim*faceName: Monospace
vim*faceSize: 11
vim*vt100*geometry: 80x60
vim*saveLines: 16384
vim*loginShell: true
vim*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
vim*termName: xterm-256color
vim*eightBitInput: false
vim*allowTitleOps: true
vim.vt100.selectToClipboard: true
vim*VT100*translations: #override \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:        select-end(CLIPBOARD)

<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

#define _color0        #282c34
#define _color8        #282c34
!RED Tag
#define _color1        #be5046
#define _color9        #e06c75:
!GRN SpecialKey
#define _color2        #98c379
#define _color10       #98c379
!YEL Keyword
#define _color3        #d19a66
#define _color11       #e5c07b
!BLU Number
#define _color4        #61afef
#define _color12       #61afef
!MAG Precondit
#define _color5        #c678dd
#define _color13       #c678dd
!CYN Float
#define _color6        #56b6c2
#define _color14       #56b6c2
!WHT Search
#define _color7        #abb2bf
#define _color15       #abb2bf
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #61afef
#define _colorUL       #98c379
#define _colorIT       #e06c75
!TXT Normal, Normal, Cursor
#define _foreground    #abb2bf
#define _background    #282c34
#define _cursorColor   #abb2bf
UXTerm*color0         : _color0
UXTerm*color1         : _color1
UXTerm*color2         : _color2
UXTerm*color3         : _color3
UXTerm*color4         : _color4
UXTerm*color5         : _color5
UXTerm*color6         : _color6
UXTerm*color7         : _color7
UXTerm*color8         : _color8
UXTerm*color9         : _color9
UXTerm*color10        : _color10
UXTerm*color11        : _color11
UXTerm*color12        : _color12
UXTerm*color13        : _color13
UXTerm*color14        : _color14
UXTerm*color15        : _color15
UXTerm*colorBD        : _colorBD
UXTerm*colorIT        : _colorIT
UXTerm*colorUL        : _colorUL
UXTerm*foreground     : _foreground
UXTerm*background     : _background
UXTerm*cursorColor    : _cursorColor

XTerm*color0         : _color0
XTerm*color1         : _color1
XTerm*color2         : _color2
XTerm*color3         : _color3
XTerm*color4         : _color4
XTerm*color5         : _color5
XTerm*color6         : _color6
XTerm*color7         : _color7
XTerm*color8         : _color8
XTerm*color9         : _color9
XTerm*color10        : _color10
XTerm*color11        : _color11
XTerm*color12        : _color12
XTerm*color13        : _color13
XTerm*color14        : _color14
XTerm*color15        : _color15
XTerm*colorBD        : _colorBD
XTerm*colorIT        : _colorIT
XTerm*colorUL        : _colorUL
XTerm*foreground     : _foreground
XTerm*background     : _background
XTerm*cursorColor    : _cursorColor

vim*color0         : _color0
vim*color1         : _color1
vim*color2         : _color2
vim*color3         : _color3
vim*color4         : _color4
vim*color5         : _color5
vim*color6         : _color6
vim*color7         : _color7
vim*color8         : _color8
vim*color9         : _color9
vim*color10        : _color10
vim*color11        : _color11
vim*color12        : _color12
vim*color13        : _color13
vim*color14        : _color14
vim*color15        : _color15
vim*colorBD        : _colorBD
vim*colorIT        : _colorIT
vim*colorUL        : _colorUL
vim*foreground     : _foreground
vim*background     : _background
vim*cursorColor    : _cursorColor

