@import "colorscheme"
@import "common"

* {
  --background: var(--white-100);
  --foreground: var(--grey-90);
  --primary-color: var(--blue-60);
  --secondary-color: var(--grey-30);
  --separator-color: var(--grey-30);
}
