! ---------------------------------------- !
! .Xresources config                       !
! ---------------------------------------- !

! Define font size based on screen size
#if WIDTH == 1366
  #define FONT_SIZE 10
#elif WIDTH == 1920
  #define FONT_SIZE 12
#endif

! Set font dpi
Xft.dpi: 192
Xcursor.size: 32

#include ".Xresources.d/xterm/config"
#include ".Xresources.d/xterm/themes/quantum"

