# Create */etc/systemd/system/screenlock.service*

[Unit]
Description=Lock the screen
Before=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i /home/%i/Pictures/wallpapers/current.png

[Install]
WantedBy=sleep.target
