@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Minina UI
 * 
 * Contributors: Danny Colin
 *
 * based on code of : 
 *  - DrPugsley https://github.com/Timvde/UserChrome-Tweaks/blob/master/tabs/more-compact-tabs.css
 *  - Tridactyl https://github.com/cmcaine/tridactyl/blob/master/src/static/userChrome-minimal.css
 * 
 */

/* Only apply the following styles if in compact mode */
[uidensity="compact"]:root {
    --tab-min-height: 22px !important;
    --tab-font-size: 12px !important;
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) {
    max-height: 0;
    min-height: 22px !important;
}

/* Auto hide nav bar */
:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
    max-height: 0;
    min-height: 0 !important;
    opacity: 0;
}

/* Remove bottom border */
#navigator-toolbox::after {
    display: none !important;
}

/* Make nav-bar thinner */
#nav-bar {
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

/* Set tabs height to 22px */
.tabbrowser-tab {
    font-family: var(--tab-font-family) !important;
    font-size: var(--tab-font-size) !important;
    max-height: var(--tab-min-height) !important;
}

/* move URL notification under tab bar */
statuspanel[type="overLink"] {
    display: none !important;
}

/* Hide the following elements */
.tab-close-button,
.tab-icon-image,
.tabs-newtab-button
{
    display: none !important;
}
