/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. 
 *
 * QuteFox
 * 
 * Author      :    Danny Colin <contact@dannycolin.com>
 * Description :    This script try to mimic the look of qutebrowser.
 */

/* BEGIN Compact theme variables */
[uidensity="compact"]:root {
    --tab-line-color: transparent !important;
    --tab-min-height: 12px !important;
    --newtab-margin: -3px 0 -3px -3px !important;
}

/* END Compact theme variables */
    
/* BEGIN Tabbar */
.tabbrowser-tab {
    font-size: 11px !important;
    max-height: var(--tab-min-height) !important;
}

/* remove tab separator*/
.tabbrowser-tab::after, .tabbrowser-tab::before {
    border: none !important;
}

/* If not pinned, let tabs use all the available width */
.tabbrowser-tab[fadein="true"]:not([pinned]) {
    max-width: 10000px !important;
}

/* Resize favicon */
.tab-icon-image {
    max-width: 10px !important;
}

/* Change Private Icon */
.private-browsing-indicator {
    width: 10px !important;
    height: 10px !important;
}

/* Change background-color and text color of active tab
See : https://www.reddit.com/r/FirefoxCSS/comments/7cwt26/is_there_a_way_to_highlight_a_little_more_the/ */
.tab-background[selected="true"] {
    background-color: #98c379 !important;
    background-image: none !important;
}

.tab-content[selected="true"] {
    color: #282c34 !important;
}

/* END Tabbar */
    
/* BEGIN Navbar */
#navigator-toolbox {
    /* Move navbar to bottom */
    display: contents !important;
    
}

#nav-bar {
    /* Move navbar to bottom */
    -moz-box-ordinal-group: 2 !important;
    
    font-size: 11px !important;
    
    /* Reduce nav/urlbar */
    margin-bottom: -7px !important;
}                                         

.toolbarbutton-icon {
    margin: -3px 0 -3px -3px !important;
    max-height: 10px !important; 
    max-width: 10px !important;
}

#urlbar {
    border-radius: 0 !important;
    border: none !important;
    
    /* Reduce nav/urlbar + align text to right*/
    margin: -2px 0 !important;
    text-align: right;
}

/* END Navbar*/

/* BEGIN Hide elements
 *  
 *  - statuspanel[type="overLink"]  Hide URL notifications
 *  - #back-button                  Navbar previous page button
 *  - #forward-button               Navbar next page button
 *  - #identity-box                 Website info, ssl
 *  - #page-action-buttons          Bookmark Star, Actions
 *  - #PanelUI-menu-button          Hamburger menu
 *  - .tab-close-button             Tabbar tab close button
 *  - .tabs-newtab-button           Tabbar new tab button
 *  - .urlbar-icon                  URL Go and History buttons
 *
 */
statuspanel[type="overLink"],
#back-button,
#forward-button,
#identity-box,
#page-action-buttons,
#PanelUI-menu-button,
.tab-close-button,
.tabs-newtab-button,
.urlbar-icon {
    display: none !important;
}
/* END Hide elements*/
