configuration {
  display-drun: "open";
  display-run: "run";
  display-ssh: "connect";
  fake-transparency: true;
  modi: "drun,run,ssh";
  //case-sensitive: true;
}

@theme "themes/photon/photon-dark"

listview {
  scrollbar: false;
}
